<html>
    <body>
        <%= title %>
        <ul>
            <li><%= data.username %></li>
            <li><%= data.text%></li>
            <li><%= data.added %></li>
        </ul>
        <a href = "/">Return</a>
    </body>
</html>